* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

.about {
    max-width: 100%;
    height: 400px;
    padding: 20px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 12px;
    text-align: center;
    line-height: 32px; /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 h2 h3 {
    text-align: center;
    color: black;
    margin-bottom: 35px;
    margin-top: 35px;
}

.highlight {
    color: #31964fcb; 
    font-weight: bold; 
    font-style: italic;
  }

/* Project List */
.projectplaceholder{
    width: 50%;
    height: 300px;
}

#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}


/* Project Card Styling */
.project-card {
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    }

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    }

.projectview {
    justify-content: center;
    text-align: center;
}


/* Navbar Styling */
.overlay{
	padding: 50px;
	color:#333;
  background-image: linear-gradient( 135deg, #31964f57 10%, #31964fcb 100%);
  text-align: center;
  font-size: larger;
	width: 100%;
	border-radius: 0 0 85% 85% / 30%;	
}


.container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

nav {
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px #31ce6094;
    display: flex;
    justify-content:center;
}

  nav ul li {
    display: inline-block;
    padding: 15px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
  }
  nav ul li::after {
    content: "";
    background: #31ce60f8;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
  }
  nav ul li:hover {
    color: #fff;
  }
  nav ul li:hover::after {
    top: 50%;
    opacity: 1;
  }

 .overlay img{
  width:40%;
  height: auto;
 }  
  .overlay h3 {
    top: 50%;
    left: 50%;
    text-align: center;
    color: #333;
    font-style: italic;
  }

/* Form Styling */
body {
    font-family: "Comic Sans MS", cursive;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fafafa; 
    color: #333;
}
  
  
.card {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

  
form {
    display: flex;
    flex-direction: column;
}
  
input {
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
    background-color: #f4f4f4; 
}
  
input:focus {
    border-color: #31ce6094; 
}
  
button {
    background-color: #31ce6094; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
button:hover {
    background-color: #31ce6094; 
}

/* Footer Styling */
#contactimage {
    width: 100%;
    height: 100px;
    display: block; 
    margin: 0 auto; 
  }
  
  .footerstyles {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-align: center; 
    background-color: #fff; 
    color: #333; 
  }

/* Error Page styling */
html, body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
 }

h1, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .section{
    padding: 4rem 2rem;
  }
  
  .section .error{
    font-size: 150px;
    color: #2db154fe;
    text-shadow: 
      1px 1px 1px #00593E,    
      2px 2px 1px #00593E,
      3px 3px 1px #00593E,
      4px 4px 1px #00593E,
      5px 5px 1px #00593E,
      6px 6px 1px #00593E,
      7px 7px 1px #00593E,
      8px 8px 1px #00593E,
      25px 25px 8px rgba(0,0,0, 0.2);
  }
  
  .page{
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #444;
  }
  
  .back-home{
    display: inline-block;
    border: 2px solid #222;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.75rem 1rem 0.6rem;
    transition: all 0.2s linear;
    box-shadow: 0 15px 15px -11px rgba(0,0,0, 0.4);
    background: #222;
    border-radius: 6px;
  }
  .back-home:hover{
    background: #222;
    color: #ddd;
  }

  @media only screen and (max-width: 1000px) {
    
    .about{
      display: flex;
      flex-wrap: wrap-reverse;
      height: auto; 
      font-size: medium; 
    }

    nav ul {
      display: flex;
      flex-wrap: wrap-reverse;
    }

    #project-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      column-gap: 10px;
      row-gap: 10px;
      justify-content: center;
  }

  h1 {
  font-size: 22px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}
  
p{
  font-size: 16px;
}
}

@media only screen and (max-width: 600px) {

h1 {
  font-size: 18px;
 display: flex;
 flex-wrap: wrap-reverse;
}

h3{
  font-size: 16px;
}

h3{
  font-size: 16px;
}
  
p{
  font-size: 14px;
}

}

